<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057108671297-n84bk253qo6cemh7nf3geovcti6a6i4k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057108671297-n84bk253qo6cemh7nf3geovcti6a6i4k</string>
	<key>API_KEY</key>
	<string>AIzaSyAGtJwq6YljrU4g7wHUGtoOgA88JptVrwE</string>
	<key>GCM_SENDER_ID</key>
	<string>1057108671297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ZacharyArens.BorrowBarrow</string>
	<key>PROJECT_ID</key>
	<string>borrowappcis657</string>
	<key>STORAGE_BUCKET</key>
	<string>borrowappcis657.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057108671297:ios:fbbeff222304e8d4</string>
	<key>DATABASE_URL</key>
	<string>https://borrowappcis657.firebaseio.com</string>
</dict>
</plist>